<app-primary-layout>
  <div class="page-header" style="background-image: url('./assets/images/pasta2.png');">
    <div class="filter"></div>
    <div class="container">
      <div class="motto text-center">
        <h1>Cajun Cookbook</h1>
        <h3>Louisiana’s Best Recipes-Cajun, Creole, and Southern.</h3>
        <br />
        <button type="button"
          class="btn btn-outline-neutral btn-round">
          Search Recipes
        </button>
        <button type="button"
          class="btn btn-outline-neutral btn-round">
          Create Your Cookbook
        </button>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section text-center">
      <div class="container">
        <h2 class="title text-primary">Featured Recipes</h2>
        <div class="row">
          <div class="col-md-4" *ngFor="let recipe of (filteredRecipes$|async) | slice:0:6">
            <div class="card card-plain pointer" (click)="goRecipe(recipe)">
              <div class="card-image">
                <img class="img-thumbnail img-responsive" *ngIf="recipe.image_url" [src]="recipe.image_url">
                <img class="img-thumbnail img-responsive" *ngIf="!recipe.image_url" src="/assets/images/no-image.png">
              </div>
              <div class="card-block">
                <h4 class="card-title text-primary">{{recipe.name}}</h4>
                <p class="card-description text-center">
                  {{recipe.description}}
                </p>
              </div>
              <div class="card-footer text-center">
                <p>Contributor: {{recipe.user?.username}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-dark text-center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12">
            <h2 class="title">Your Personal Recipe Book</h2>
            <h5 class="description">
              Welcome to Cajun Cookbook, the perfect place to share and discover new recipes. Create your very own recipe book, with the ability to rate and comment on other users' recipes. Whether you're looking for a classic jambalaya or a unique seafood gumbo, our community of passionate Cajuns has got you covered. Join us today and let's cook up some Cajun magic together!
            </h5>
            <br>
            <button class="btn btn-primary btn-round">Get started</button>
          </div>
        </div>
        <br/><br/>
        <div class="row">
          <div class="col-md-3">
            <div class="info">
              <div class="description">
                <h4 class="info-title">Build Your Own Cookbook</h4>
                <p class="description">Create and customize your own cookbook filled with your favorite recipes. Save, organize, and access your recipes anytime, anywhere.</p>
                <a class="btn btn-link btn-danger">Get started</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="description">
                <h4 class="info-title">Share Your Recipes</h4>
                <p> Share your recipes with a community of fellow cajun food enthusiasts. Get feedback, comments, and ratings on your recipes from other users. Discover new recipes and tips from other cajun cooks.</p>
                <a class="btn btn-link btn-danger">Get started</a>
              </div>
            </div>
              </div>
              <div class="col-md-3">
                <div class="info">
                  <div class="description">
                    <h4 class="info-title">Discover Authentic Cajun Flavors</h4>
                    <p>Explore a collection of authentic cajun recipes, from classic dishes to new and innovative creations. Filter and search recipes by ingredients, cuisine type, and dietary restrictions to find the perfect recipe for your taste.</p>
                    <a class="btn btn-link btn-danger">Get started</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info">
                  <div class="description">
                    <h4 class="info-title">Connect with Others</h4>
                    <p>Join a community of cajun food lovers who share the same passion for this delicious cuisine. Get inspired, share stories, and make new friends who share your love for cajun cooking.</p>
                    <a class="btn btn-link btn-danger">Get started</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="section landing-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Questions, comments or feedback?</h2>
              <form class="contact-form">
                <div class="row">
                  <div class="col-md-6">
                    <label>Name</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                      <input type="text" class="form-control" placeholder="Name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label>Email</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                      <input type="text" class="form-control" placeholder="Email">
                    </div>
                  </div>
                </div>
                <label>Message</label>
                <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                <div class="row">
                  <div class="col-md-4 mr-auto ml-auto">
                    <button class="btn btn-primary btn-lg btn-fill">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!--

  <section *ngIf="(filteredRecipes$|async)?.length">
    <h3 class="fw-light app-primary mt-5">All Recipes</h3>
    <div class="row py-4 bg-light">
      <div class="app-table">
        <table class="table table-hover bg-white">
          <colgroup>
            <col width="5%">
            <col width="35%">
            <col width="45%">
            <col width="15%">
          </colgroup>
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Description</th>
              <th>Contributor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let recipe of (filteredRecipes$|async) | slice: (page-1) * pageSize : page * pageSize;" (click)="goRecipe(recipe)">
              <td *ngIf="recipe.image_url"><img class="card-img-table" [src]="recipe.image_url"></td>
              <td *ngIf="!recipe.image_url"><img class="card-img-table" src="/assets/images/no-image.png"></td>
              <td>{{recipe.name}}</td>
              <td>{{recipe.description}}</td>
              <td>{{recipe.user?.username}}</td>
            </tr>
          </tbody>
        </table>
        <pagination
          [records]="recipes$"
          [filteredRecords]="filteredRecipes$"
          label="Total Recipes"
          [page]="page"
          [pageSize]="pageSize"
          (pageChanged)="page = $event">
        </pagination>
      </div>
    </div>
  </section> -->
</app-primary-layout>
