.text-filter {

  input {
    height: 38px;
  }

  .form-control-feedback {
    position: absolute;
    right: 10px;
    margin-top: -27px;
  }

  .hstm-text-filter-clear {
    cursor: pointer;
    pointer-events: auto !important;
  }
}
