<div class="pagination-wrapper" *ngIf="collectionSize > 0">
  <div class="pagination-count">{{collectionSize}} {{ label }}</div>
  <ngb-pagination
    class="pagination d-flex justify-content-center"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="collectionSize"
    (pageChange)="pageChange()">
    <ng-template ngbPaginationPrevious>
      <a href *ngIf="page!=1" class="pagination-link prev-link">
        <i class="fa fa-chevron-left"></i>
      </a>
      <span *ngIf="page==1" class="pagination-link prev-link disabled">
        <i class="fa fa-chevron-left"></i>
      </span>
    </ng-template>
    <ng-template ngbPaginationNext>
      <a href *ngIf="upper!=total" class="pagination-link next-link">
        <i class="fa fa-chevron-right"></i>
      </a>
      <span *ngIf="upper==total" class="pagination-link next-link disabled">
        <i class="fa fa-chevron-right"></i>
      </span>
    </ng-template>
  </ngb-pagination>
</div>
