<app-primary-layout>
  <div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="card-title">{{(recipe$|async)?.name}}</h5>
      <button type="button"
        class="btn btn-outline-light"
        (click)="goEditRecipe()">
        Edit Recipe
      </button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 card-row">
          <div class="recipe-img-container">
            <img *ngIf="(recipe$|async)?.img_src" class="recipe-img" [src]="(recipe$|async)?.img_src">
            <img *ngIf="!(recipe$|async)?.img_src" class="recipe-img" src="/assets/images/no-image.png">
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 card-row">
          <h5>Ingredients:</h5>
          <p [innerHtml]="(recipe$|async)?.ingredients"></p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 card-row">
          <h5>Directions:</h5>
          <p [innerHtml]="(recipe$|async)?.directions"></p>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between align-items-center">
        <small>Contributor: {{(recipe$|async)?.user?.username}}</small>
        <p class="card-text">{{(recipe$|async)?.description}}</p>
      </div>
   </div>
  </div>
</app-primary-layout>
