<app-primary-layout>
  <div class="section section-gray text-center">
    <h2 class="title-uppercase cookbook-title text-primary">{{isOwner ? 'My': (user$|async)?.first + "'s"}} Cookbook</h2>
  </div>
  <div class="section profile-content text-center">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img *ngIf="(user$|async)?.image_url" [src]="(user$|async)?.image_url" alt="Circle Image" class="img-circle img-no-padding img-responsive">
          <img *ngIf="!(user$|async)?.image_url" src="/assets/images/no-image.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
          <div *ngIf="isOwner" class="text-primary">
            <label for="file-upload">
              <i class="fa fa-camera"></i> {{(user$|async)?.image_url ? 'Replace Image': 'Add image'}}
            </label>
            <input id="file-upload" accept=".png, .jpg, .jpeg" type="file" style="display:none" (change)="onFileSelected($event)">
          </div>
        </div>
        <div class="name">
          <h4 class="title">{{(user$|async)?.first}} {{(user$|async)?.last}}<br /></h4>
          <h6 class="description">{{(user$|async)?.location}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          <p>{{(user$|async)?.bio}}</p>
          <br />
          <button *ngIf="isOwner"
            class="btn btn-outline-primary btn-round mb-3"
            (click)="goCreateRecipe()">
            <i class="fa fa-cog"></i>
            Add Recipe
          </button>
          <app-text-filter></app-text-filter>
        </div>
      </div>
    </div>
  </div>
  <div class="main text-center">
    <div class="container">
      <h2 class="title text-primary">My Recipes</h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let recipe of (filteredRecipes$|async)">
          <div class="card card-plain pointer" (click)="goRecipe(recipe)">
            <div class="card-image">
              <img class="img-thumbnail img-responsive" *ngIf="recipe.image_url" [src]="recipe.image_url">
              <img class="img-thumbnail img-responsive" *ngIf="!recipe.image_url" src="/assets/images/no-image.png">
            </div>
            <div class="card-block">
              <h4 class="card-title text-primary">{{recipe.name}}</h4>
              <p class="card-description text-center">
                {{recipe.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-primary-layout>
