<app-primary-layout>
  <div class="container mb-5 text-center">
    <h1 class="inline-icon">
      <i class="fas fa-exclamation-triangle me-3 text-primary"></i>
      <span [ngSwitch]="route.snapshot.params['error']">
        <!-- 400 Bad Request -->
        <span *ngSwitchCase="'400'">Sorry, the server cannot process that request.</span>
        <span *ngSwitchCase="'401'">Sorry, you do not have permission to view that page.</span>
        <span *ngSwitchCase="'403'">Sorry, you do not have permission to view that page.</span>
        <span *ngSwitchCase="'404'">The page you are looking for does not exist. Please check the URL and try again.</span>
        <span *ngSwitchCase="'410'">The record you're looking for has been deleted.</span>
        <span *ngSwitchCase="'422'">An unexpected error has occured.</span>
        <span *ngSwitchCase="'500'">An unexpected error has occured.</span>
        <span *ngSwitchCase="'503'">Sorry, the site is down for maintenance.</span>
      </span>
    </h1>
    <div>
      <span [ngSwitch]="route.snapshot.params['error']">
        <h6 *ngSwitchCase="'400'">400: Bad Request</h6>
        <h6 *ngSwitchCase="'401'">401: Unauthorized</h6>
        <h6 *ngSwitchCase="'403'">403: Forbidden</h6>
        <h6 *ngSwitchCase="'404'">404: Page Not Found</h6>
        <h6 *ngSwitchCase="'410'">410: Gone</h6>
        <h6 *ngSwitchCase="'422'">422: Unprocessable Entity</h6>
        <h6 *ngSwitchCase="'500'">500: Internal Server Error</h6>
        <h6 *ngSwitchCase="'503'">503: Service Unavailable</h6>
      </span>
    </div>
  </div>
</app-primary-layout>
