/* You can add global styles to this file, and also import other style files */

html,
body {
  overflow: hidden;
}

.app-primary {
  color: #B83621;
}

.pointer {
  cursor: pointer;
}

// Bootstrap overrides

.navbar {
  background-color: #B83621;
  color: white !important;
}

.collapse {
  background-color: #F8F9FA;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 1rem;
  color: black;
}

.navbar-toggler {
  color: white !important;
}

.navbar-toggler-icon {
  filter: invert(1) !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none;
}

.card-header {
  background-color: #B83621;
  color: white;
}

.card-footer {
  background-color: #B83621;
  color: white;
}

.btn-primary {
  background-color: #B83621;
  border-color: #B83621;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #B83621, #A62F1C);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-color: #A62F1C;
  border-color: #A62F1C;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-image: none;
}

.btn-primary:focus {
  outline: 0;
  box-shadow: 0px 0px 5px 3px rgba(184, 54, 33, 0.4);
}

.app-table {

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
  }

  thead {
    border-bottom: none;
  }

  th {
    vertical-align: bottom;
  }

  tr td:first-child {
   padding-left: 10px;
   border-top-left-radius: 16px;
   border-bottom-left-radius: 16px;
  }

  tr td:last-child {
   border-top-right-radius: 16px;
   border-bottom-right-radius: 16px;
  }

  thead th {
    height: 15px !important;
  }

  th {
    color: #B83621;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }

  td {
    padding: 15px 15px 15px 2px;
  }

  tbody > tr {
  }

  .table-hover > tbody > tr:hover {
    cursor: pointer;
  }

  tbody > tr > th {
    font-weight: bold;
    padding-left: 15px;
    vertical-align: middle;
    color: #404040 !important;
  }

  .row-sync {
    cursor: default !important;
    pointer-events: none;
    background-color: #F4F4F4 !important;
    color: #6c757d !important;
    opacity: 0.5;
  }

}

.pagination-wrapper .pagination-link.active {
  color: #fff !important;
  background-color: #B83621 !important;
  border-color: #B83621 !important;
}

.pagination-wrapper .pagination-link {
  color: #B83621 !important;
  border-color: #B83621 !important;
}

.pagination-wrapper .pagination-link:hover:not(.disabled) {
  color: #fff !important;
  background-color: #B83621 !important;
  border-color: #B83621 !important;
}

.pagination-wrapper .pagination-count {
  color: #B83621 !important;
}

.pagination-wrapper .pagination .page-link {
  color: #B83621 !important;
  box-shadow: none !important;
}

.pagination-wrapper .pagination .page-item.active .page-link {
  color: #fff !important;
  background-color: #B83621 !important;
  border-color: #B83621 !important;
}

.pagination-wrapper .pagination .page-item .page-link:hover {
  background-color: #B83621 !important;
  border-color: #B83621 !important;
  color: #fff !important;
}

.spinner-grow {
  color: #B83621;
}
